# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
node_modules

# testing
coverage

# misc
.DS_Store
.env.local
.env.*.local

yarn-debug.log*
yarn-error.log*

# Ignore .js files for now. We will have to create a custom ESlint config for this with overrides for typescript.
.eslintrc.js

dist

.swc
