# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
node_modules
pairing-reports
esbuild-output

# testing
coverage

# production
dist

# misc
.DS_Store
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log
*.lerna_backup

# Local Netlify folder
.netlify

tsconfig.tsbuildinfo
.eslintcache
.zcompdump

# Parcel build directories
.cache
.build

.git
